<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple Watch App WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apple Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Apple Watch App WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6C0EF8D1BB3ACC9000EA725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C0EFA11BB3ACC9000EA725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C0EFAC1BB3ACC9000EA725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C0EFCF1BB3AE66000EA725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
